*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color:hsl(212, 45%, 89%);
  font-size: 15px;
  font-family: "Outfit", sans-serif;
  text-align: center;
}
#main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container{
  background-color:hsl(0, 0%, 100%);
  padding: 15px;
  width: 300px;
  border-radius: 20px;
  height: 480px;
}
img{
  width: 100%;
  border-radius: 9px;
}
.txt1{
  font-weight: 700;
  color:hsl(218, 44%, 22%);
}
.txt2{
  font-weight: 400;
  color:hsl(220, 15%, 55%);
}
.attribution{ 
  font-size: 11px; 
}
 .attribution a{ 
   color: hsl(228, 45%, 44%);
 }
